@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    height: 80px;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #6415ff;
    transition: all 300ms ease;

}

.nav__container {
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 0 40px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__wrapper {
    display: flex;
    align-items: center;
    margin: 0 40px 0 0;
    padding: 0 0 5px;
    font-size: 30px;

}
.logo {
    width: 50px;
    height: 50px;
    margin: 0 15px 0 0; 
}

.logo__link {
    color: #243E63;
    font-size: 35px;
    font-weight: 900;
    margin: 0;    
}

.logo__treact:hover {
    color: #6415ff;
    transition: all 300ms ease;
}

.nav__links {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
}

.nav__link {
    margin: 0 30px;
    padding: 0 0 5px;
    font-size: 20px;
    color: #243E63;
    font-weight: bold;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    background-color: #6415ff;
    color: #f7fafc;
    font-size: 20px;
    font-weight: 600;
    border-radius: 25px; 
    padding: 15px 40px;
    margin: 0 auto;
}

.nav__link--primary:hover {
    background-color: rgb(80 17 204);
    color: #f7fafc;
    transition: all 300ms ease;
    text-decoration: none;
} 

.nav__link--secondary {
    margin: 0 30px 0 60px;
}

.purple {
    color: #6415ff;
}


ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 45px;
    font-weight: 900;
    line-height: 1.25;
    opacity: 1;
    color: rgb(26 32 44);
}

h2 {
    font-size: 70px;
    margin: 20px 0 0;
}

h5 {
    color: #6415ff;
    font-size: 25px;
    margin: 0 0 20px;
    letter-spacing: 0.2em;
}

h6 {
    font-size: 25px;
    color: #243E63
}

p {
    font-size: 24px;
    margin: 20px 0 60px;
    width: 100%;
    font-weight: 500;
    line-height: 1.5;
    opacity: 1;
    color: rgb(124 139 161);
}

button {
    color: #f7fafc;
    font-size: 20px;
    font-weight: bold;
    background: #6415ff;
    border-radius: 9999px;
    cursor: pointer;
    padding: 20px 0;
    width: 35%;
}

.container {
    padding: 120px 0;
    margin: 0 40px;
}


/* 

HEADER

*/

.header__row {
    display: flex;
    max-width: 1200px;
    margin: 0 40px;
    padding: 120px 0;
}

.header__description--container {
    width: 40%;
    text-wrap: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.header__para {
    color: #243E63;
    font-size: 20px;
    margin: 40px 0;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    width: 100%;
    max-width: 100%;
    border-radius: 9999px;
    border-width: 2px;
    border-height: 80px;
    font-weight: 500;
    text-align: center;
    transition: all 300ms ease;
}

form:hover {
border: 2px solid rgb(180, 183, 187);
}

form:focus-within {
    border: 2px solid #6415ff;
}
*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
}

.customer__email--placeholder {
    width: 100%;
    color: #7C8BA1;
    font-size: 25px;
    background: #FFFFFF;
    padding: 25px 40px 25px 40px;
}

.customer__email--placeholder:focus {
    outline: none;
}

.header__action {
    text-align: center;
    font-size: 25px;
    color: #f7fafc;
    background: #6415ff;
    width: 100%;
    border-radius: 9999px;
    font-weight: 700;
    margin: 10px 10px 10px 10px;
    padding: 20px 0;
}

.customers-logo__strip--container {
    margin: 100px 0 0;
}

.customers-logo__strip--heading {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    opacity: 2;
    color: rgb(173, 186, 202);
    margin: 0;
}

.customers-logo_img {
    margin: 20px 0 0;
    padding: 0 80px 0 0;
    color: ADBACA;
    opacity: .5;
}

.header__img {
    width: 60%;
    height: 100%;
    max-height: 50vh;
}

/*

FEATURES

*/

.features__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 52px;
}

.features__para {
    width: 58%;
    text-align: left;
}

.services {
    display: flex;
    flex-wrap: wrap;
    

}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 40px 10px;
}

.service__img {
    width: 90px;
    height: 90px;
    padding: 28px;
    border-radius: 9999px;
    border: 1px solid rgb(226, 232, 240);
}

.service__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #7C8BA1;
    font-size: 25px;
    margin: 10px 0 0 20px;

}

.service__heading {
    color: #243E63;
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px;

}

/*

QUALITY WORK 

*/

.quality__work--wrapper {
    display: flex;
    align-items: center; 
    padding: 40px 0;
}

.quality__work--description {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 40px 0;
}

.quality__work--subheading {
    width: 85%;
}

.quality__work--img { 
    border-width: 1.5px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    border-radius: 4px;    
} 

/*

STEPS 

*/

.steps__wrapper {
    display: flex;
    align-items: center;
    padding: 40px 0;

}

.steps__img {
    width: 50%;
    height: auto;
    vertical-align: middle;
}

.steps__description--wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 0 0 100px;
}

.steps_description {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 30px;
}

.steps__lists {
    display: flex;
    flex-direction: column;
}

.steps__list {
    display: flex;
    margin: 40px 0 0;
}

.steps__number {
    display: flex;
    font-size: 50px;
    font-weight: bold;
    color: #cbd5ed;
}

#steps__para {
    margin: 15px 0 0!important;
}


/*

VALUES 

*/

.values__wrapper { 
    display: flex;
    align-items: center;
}
.values__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 40px 40px;
}

.values__img {
    width: 50%;
}

.values__features--container {
    display: flex;

}

.values-features__img {
    text-align: center;
    
}

#affordable_icon {
    color: rgb(39 103 73);
    background-color: #9ae6b4;
    width: 55px;
    height: 55px;
    padding: 15px;
    border-radius: 9999px;
}

#professional_icon {
    color: rgb(155 44 44);
    background-color: rgb(254 178 178);
    width: 55px;
    height: 55px;
    padding: 15px;
    border-radius: 9999px;
}

.values__features--description {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px;
}

.values-features__heading--container {
    display: flex;
    align-items: center;

}

.values-features__heading {
    color: #243E63;
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 0 15px;

}

.values__img {
    height: auto;
    vertical-align: middle;
}


/*

PRICING 

*/

.pricing__header--wrapper {
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 50px 0 0;
}

#pricing__header--para {
    padding: 0 160px;
}

.plans {
    display: flex;
    height: 100%;
}
.plan {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    background-color: rgb(255 255 255); 
    margin: 80px 40px 0 0;
    padding: 10px 40px 0;
    border-top: 10px;
    border-right: 1px solid #cbd5ed;
    border-left: 1px solid #cbd5ed;
    border-bottom: 1px solid #cbd5ed;
    border-radius: 10px;
    text-align: center;
}


#personal,
#enterprise {
        position: relative;
        background: white;
        box-sizing: border-box;
}

#personal::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
 }

#enterprise::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

#business {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-top: none;
    color: white;
    
}

.plan__header {
    display: flex;
    flex-direction: column;
    background: #FFFFFF
    padding: 40px 0;
    padding-bottom: 40px;
    line-height: 1.625;
    text-transform: uppercase;  
}

.name {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.625;
}

.price {
    font-size: 70px;
    font-weight: bold;
    margin: 5px 0;
}

.duration {
    font-size: 24px;
    font-weight: bolder;
    color:rgb(179, 187, 197);
    opacity: 10;
}

.plan__features {
    display: flex;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    align-items: center;
    padding: 40px 40px;
    width: 100%;

    
}

.main__features {
    color: #000000;
    font-size: 28px;
    font-weight: bold;
}

.feature {
    color: #718096;
    font-size: 20px;
    font-weight: bolder;
    margin: 25px 0 0;
}

#feature {
    color: white;
}

.plan__action--wrapper {
    padding: 40px;
}

#personal__action {
    color: rgb(226, 232, 240);
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    opacity: 1;
    width: 70%;
    padding: 30px 50px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#business__action {
    color: #6415ff;
    background:rgb(247 250 252); 
    opacity: 1;
    width: 70%;
    padding: 30px 50px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#enterprise__action {
    color: rgb(226, 232, 240);
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    opacity: 1;
    width: 70%;
    padding: 30px 50px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/*

TESTIMONIALS 

*/

.testimonials__wrapper {
    display: flex;
    align-items: center;
}

.slider__wrapper {
    display: flex;
}

.ratings__container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 0 0 0 80px;
}


.testimonials__img {
    width: 40%;
}

.ratings__star {
    display: flex;
    opacity: 1;
    color: rgb(246 173 85);
    letter-spacing: 5px;
}

.testimonial_heading {
    color: #243e63;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 0;
}

blockquote {
    color: #4a5568;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0 50px;
}

.customer__img {
    width: 100px;
    height: 100px;
    border-radius: 9999px;
}

.slider__wrapper {
    display: flex;
    flex-direction: column;
    outline: transparent solid 2px;
    outline-offset: 2px;
}

.customer__info--wrapper {
    display: flex;
    align-items: center;
}

.customer__info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
#customer__name {
    color: #243e63;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    line-height: 1.5;
}

#customer__title {
    color: #7C8BA1;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.customer-info__controls--container {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__control {
    display: flex;

}

.slider__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6415ff;
    background-color: #edf2f7;
    margin: 0 15px;
    padding: 20px;
    border-radius: 9999px;
    opacity: 1;

}

.vertical__line {
    width: 5px;
    height: 10px;
    color: rgb(15, 15, 15);
}

/* 

FAQS 

*/

.faqs__header--description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqs__header--para {
    color: rgb(124 139 161);
    max-width: 58%;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.625;
    margin: 20px 0 0;
}

.faqs__content--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 0;    

}

#accordion {
    margin: 0 auto;
    flex-direction: column;
}

.list {
    list-style: none;
    width: 100%;
    color: rgb(45 55 72);
    background: rgb(237 242 247);
    margin: 25px 0 0;
    padding: 20px 50px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    border-radius: 0.5rem;
    flex-direction: space-between;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.content {
    opacity: 1;
    height: auto;
    margin-top: 16px;
}

#accordion li label {
    display: flex;
    align-items: left;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: black;
    font-size: 28px;
    font-weight: bold;
}
#accordion li label span {
    transition: transform 0.3s;
}
#accordion input[type="radio"] {
    display: none;
}
#accordion .content {
    text-align: left;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

#accordion input[type="radio"]:checked ~ .content {
    max-height: 400px;
}

#accordion input[type="radio"]:checked ~ .content + label span {
    transform: rotate(45deg);
}

.accordion__arrow svg {
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    transition: all 300ms ease;
} 

#accordion input[type="radio"]:checked + label .accordion__arrow svg { 
    transform: rotate(-90deg);
}

/*

GET STARTED

*/

.get-started__blob--container {
    width: 100%;
    border-radius: 0.5rem;
    opacity: 1;
    background-color: rgb(100 21 255);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.get-started__wrapper {
    display: flex;
    align-items: center;
    margin: 0 28px;
    padding: 0 40px;
}

#get-started__text {
    font-size: 40px;
    font-weight: 700;
    opacity: 1;
    color: rgb(247 250 252);
    align-items: center;
    margin: 0;
    letter-spacing: none;
}

.get-started__links--container {
    display: flex;
}

.get-started__action {
    color: #f7fafc;
    font-size: 25px;
    font-weight: bold;
    background-color: #f56565;
    margin: 0 40px 0 0;
    padding: 25px 50px;
    border-width: 1px;
    border-radius: 9999px;
    border-color: transparent;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.get-started__action:hover {
    color: white;
    background-color: #ee3f3f;
    transition-duration: 300ms;
    text-decoration: none;
}

.contact-us__action {
    color: #f7fafc;
    font-size: 25px;
    font-weight: bold;
    padding: 25px 50px;
    border-width: 1px;
    border-radius: 9999px;
    letter-spacing: 0.025em;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    opacity: 1;
    color: rgb(247 250 252);
}

.contact-us__action:hover {
    background-color: rgb(226, 232, 240);
    transition-duration: 300ms;
    text-decoration: none;
}


/*

FOOTER

*/

footer {
    background: #6415ff;
}

.row {
    width: 100%
    max-width: 1200px;
    margin: 0 auto;
}

.links {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
    max-width: 1300px;
    justify-content: center;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5); 
    margin: 120px 0 0;
}    

.footer__column--heading {
    color: white;
    margin: 0 0 40px;
}

.footer__link {
    color: white;
    font-size: 20px;
    padding: 0 0 5px;
}

.footer__link:hover {
    text-decoration: underline;
    color: white;
    transition: all 300ms ease;
}

.link__list--item {
    margin: 15px 0 0;
}

#horizontal-line {
    color: rgb(186, 162, 235);
    height: 2px;
    margin: 80px 0; 
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 3rem;
    width: 1200px;
    border-bottom-width: 2px;
    border-opacity: 1;
    border-color: rgb(116 44 255);
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__logo--container {
    display: flex;
    align-items: center;
    width: 25%;
}
.footer__logo {
    width: 50px;
    height: 50px;
    display: block;
    vertical-align: middle;
}

.logo__name {
    color: white;
    font-size: 25px;
    margin: 0 0 0 10px;
}

.copyright {
    color: white;
    text-align: center;
    align-items: center;
    margin: 0;
    max-width: 35%;
}

.social__links--container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-icon {
    margin: 0 20px 0 0;
    cursor: pointer;
    border-radius: 9999px;
    opacity: 1;
    background-color: rgb(247 250 252);
    padding: 1rem;
    color: rgb(26 32 44);
    transition-duration: 300ms;
}

.social-icon:hover {
    background-color: rgb(167, 182, 192);
}

